html {
    background-image: url("bilder/mixed-vegetables-2-ai-craiyon.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #ffffffd2;
}

h1 {
    font-size: 6vw;
    color: #eff6e0;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #124559;
}

p {
    font-size: 18px;
    color: #000000;
}

header {
    display: block;
    background: #124559de;
    height: auto;
    width: auto;
    margin: 0;
    text-align: center;
    padding-top: 30px;
}

.backToMain {
    color: white;
    display: block;
    width: 100px;
    margin: 8px;
    padding: 8px 16px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 15px;
}

.backToMain:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

header ul {
    background-color: #5983928e;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;
}

header li a {
    color: white;
    display: block;
    margin: 8px;
    padding: 8px 16px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 15px;
}

header li a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.neck {
    display: block;
    margin: 20px;
    text-align: center;
}

/* Disclaimer popup */
.disclaimerPopup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0; 
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.disclaimerPopup:target {
    opacity: 1;
    background-color: rgba(155, 155, 155, 0.5);
    pointer-events: auto;
}

.disclaimerText {
    background-color: rgba(255, 255, 255, 1);
    width: 70vw;
    max-width: 700px;
    height: 70%;
    max-height: 5000px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
}

.disclaimerText p{
    font-size: 22px;
    font-weight: 600;
}

.closePopup {
    background: #606061;
    color: #FFFFFF;
    font-size: 34px;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
    position: absolute;
    right: 45%;
    text-align: center;
    top: 85%;
    width: 72px;
    border-radius: 22px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.closePopup:hover {
    background: #33641a;
}

.searchContainer {
    float: right;
}

.searchContainer input {
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
}

.searchContainer button {
    padding: 5px 10px;
    margin-top: -10px;
    margin-right: 10px;
    font-size: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.topSection {
    display: flex;
    flex-wrap: wrap;
    margin: 75px;
}

.foodBox {
    padding: 5px;
    margin-bottom: -0.5rem;
}

.button {
    height: 50px;
    background-image: linear-gradient(188deg, #fcde32, #fca311, #e28f09);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;
    border-radius: 25px;
    border-width: 0.5px;
    border-color: rgba(46, 118, 118, 0.6);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
    cursor: pointer;
    background-image: linear-gradient(180deg, #ffffff, #ffffff, #ffffff);
}

.checkboxStyle {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: fit-content;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 2rem auto;
}

.checkboxStyle:hover {
    background-color: rgba(55, 55, 55, 0.201);
    cursor: pointer;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}


/* Alternative style for cecking boxes 
input[type="checkbox"] {
    appearance:none; 
    background-color:#fff; 
    margin: 0; 
    font: inherit; 
    color: currentColor; 
    width: 1.15rem; 
    height: 1.15rem; 
    border: 0.15rem solid currentColor; 
    border-radius: 0.15rem;
    transform:translateY(-0.075rem); 
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: ""; 
    width: 0.65rem; 
    height: 0.65rem;
    transform: scale(0); 
    transition: 120ms transform ease-in-out; 
    box-shadow: inset 1rem 1 rem let(--checkboxStyle-color); 
    background-color: CanvasText; 
}

input[type="checkbox"]:checked:before {
    transform: scale(1);
}
*/

.roots {
    display: none;
}

.veggies {
    display: none;
}

.fruits {
    display: none;
}

.nuts {
    display: none;
}

.grains {
    display: none;
}

.animals {
    display: none;
}

.dairy {
    display: none;
}

.spices {
    display: none;
}

.ultraProcessed {
    display: none;
}

.bottomSection {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
    padding: 25px;
    flex: 30%;
}

.button2 {
    background-image: linear-gradient(180deg, #ffdeaa, #b5935b, #ff924e);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 25px;
    border-width: 0.5px;
    border-color: azure;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.button2:hover {
    cursor: pointer;
    background-image: linear-gradient(180deg, #ffffff, #ffffff, #ffffff);
}

.summary {
    padding: 10px;
    display: inline-block;
}

footer {
    background-color: #59839250;
    text-align: center;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-style: Italic;
    height: 500px;
}

/* If used in a small window or a small device like iPad or smartphone */
@media only screen and (((max-device-width: 1024px) and (orientation:portrait)) or ((max-device-width: 896px) and (orientation:landscape)) or (max-width: 700px)) {
    header li a {
        font-size: 3.5vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    p {
        font-size: 2.6vw;
    }

    .searchContainer input {
        font-size: 3vw;
    }

    .searchContainer button {
        font-size: 3vw;
    }

    .topSection {
        margin: 6vw;
        margin-top: 12vw;
        padding: 2vw;
        margin-bottom: -2vw;
    }

    .checkboxStyle {
        font-size: 3vw;
        padding:5px;
    }

    .checkboxStyle input[type="checkbox"] {
        position:relative; 
        top: -2px;
    }

    .button {
        height: 7vw;
        font-size: 3.5vw;
        margin: 0.5vw;
        padding-top: 0.5vw;
    }

    .button2 {
        height: 7vw;
        font-size: 3.5vw;
        margin: 0.5vw;
        padding-top: 0.5vw;
    }

    .bottomSection {
        margin: 2vw;
        margin-bottom: 4vw;
        margin-top: -2vw;
        padding: 2vw;
    }

    .footer p {
        font-size: 2.5vw;
    }

    .disclaimerText {
        height: 70vw;
    }

    .disclaimerText p{
        font-size: 3vw;
        font-weight: 600;
    }

    .closePopup {
        font-size: 4.5vw;
        line-height: 50px;
        width: 72px;
        border-radius: 22px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }
}

/* For print outs: 
@media print {} */

/* Trying a pop up! */
.popuptext {
    visibility: hidden;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 100px 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 5%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.analysisPopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}